@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: url('/assets/images/bg.jpg');
  background-size: contain;
  color: #fff;
  background-repeat: repeat;
  background-attachment: fixed;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a.link {
  color: #ffca4d;
  text-decoration: underline;
}

.container {
  max-width: 900px;
}
.text-block {
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  color: #fff;
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-block {
    font-size: 18px;
    line-height: 30px;
  }
  .video {
    height: 200px
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}